.board-row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: xx-large;
}

.board-container {
  margin:20px;
  width: 50vw;
  min-height: 60vh;
  margin-left: 400px;
  font-size: xx-large;
}

.heading {
   margin-left: 300px;
}

.instruction {
  margin-left: 30px;
  font-size: x-large
}

.btn {
  font-size: x-large;
}